{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
dewey.environment-name          = {{ env "DE_ENV" }}

{{ with $v := (key (printf "%s/irods-amqp/uri" $base)) }}dewey.amqp.uri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/dewey/qos" $base)) }}dewey.amqp.qos = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/amqp/uri" $base)) }}dewey.events.amqp.uri = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/elasticsearch/host" $base)) }}dewey.es.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/elasticsearch/port" $base)) }}dewey.es.port = {{ $v }}{{ end }}

{{ with $v := (key (printf "%s/irods/host" $base)) }}dewey.irods.host = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/port" $base)) }}dewey.irods.port = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/zone" $base)) }}dewey.irods.zone = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/user" $base)) }}dewey.irods.user = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/pass" $base)) }}dewey.irods.password = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/resc" $base)) }}dewey.irods.default-resource = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/irods/base" $base)) }}dewey.irods.home = {{ $v }}{{ end }}
{{- end -}}
